.links {
  display: inline-flex;
  list-style: none;
}
.links__item {
  margin: 8px;
}
.links__item:hover {
  text-decoration: underline;
}
.links__item_active {
  text-decoration: underline;
  transform: scale(1.2);
  transition: all linear 0.3s;
}
.links__item_loading {
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}
