.paginator {
  display: inline-flex;
  padding: 0;
  list-style: none;
}

.paginator__item {
  padding: 8px;
  border: 1px solid gray;
  color: gray;
  cursor: pointer;
}

.paginator__item_active {
  border-color: blue;
  color: blue;
  cursor: not-allowed;
}

.paginator__item_disabled {
  position: relative;
  cursor: not-allowed;
}

.paginator__item_disabled::after {
  position: absolute;
  background-color: rgb(255 255 255 / 20%);
  content: '';
  inset: 0;
}
